#cal {
	width: 95%; 
	margin: 20px auto; 
	table-layout: fixed; 
}

#cal td {
	height: 100px; 
	vertical-align: top; 
	text-align: center; 
}

.msg {
	text-align: center; 
}


#intro_pic {
	width: 794px; 
}

.intro_element {
	margin-left: 4px; 
	margin-right: 4px; 
}