input {
	margin: 10px 10px;  
	float: left; 
}

select {
	display: block; 
	margin: 10px 10px; 
}

#type {
	clear: left; 
	width: 775px;
}

#submit_button {
	float: none; 
	margin: 5px auto 10px auto; 
	clear: both; 
	width: 775px; 
}

td {
	text-align: center; 
}

table {
	margin: 10px auto; 
}

.query_fields {
	overflow: auto; 
}

.msg {
	text-align: center; 
}

h2 {
	display: inline; 
	font-size: 20px; 
}

.author {
	display: inline; 
}

h2 a {
	text-decoration: none;
	color: blue;
}

.preview {
	text-align: justify; 
}

.article_entity {
	margin: 20px; 
	overflow: auto; 
}

.article_desc {
	width: 570px; 
	clear: none; 
	float: left; 
}

.article_image {
	float: left; 
	margin-left: 30px; 
}